
**Q-9. Given the score of students in multiple exams Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.**

In [1]:
import pandas as pd 
data = {
    'Name': ['Karan', 'Deepa', 'Karthik', 'Chandan', 'Jeevan'],
    'Exam 1': [85, 70, 90, 75, 95],
    'Exam 2': [90, 80, 85, 70, 92],
    'Final Exam': [92, 85, 88, 75, 96]
}

df = pd.DataFrame(data)
df.head()

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [7]:
import scipy.stats as stats

# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(df['Exam 1'], df['Exam 2'], df['Final Exam'])

# Print the F-statistic and p-value
print("F-statistic:", f_statistic)
print("p-value:", p_value)

# Calculate the maximum score for each student
df['Max Score'] = df[['Exam 1', 'Exam 2', 'Final Exam']].max(axis=1)

# Sort the DataFrame by the maximum score in descending order
sorted_df = df.sort_values(by='Max Score', ascending=False)

# Get the student with the highest score
highest_score_student = sorted_df.iloc[0]['Name']

# Print the student with the highest score
print("Student with the highest score:", highest_score_student)

F-statistic: 0.3236947791164659
p-value: 0.7295954253321559
Student with the highest score: Jeevan