
**Q-11. Given the data of a feature contributing to different classes**

https://drive.google.com/file/d/1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y/view?usp=share_

a. Check whether the distribution of all the classes are the same or not.

b. Check for the equality of variance

c. Which amount LDA and QDA would perform better on this data for classification and why.

d. Check the equality of mean for between all the classes.

In [43]:
!wget 'https://drive.google.com/uc?id=1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y' -O data.csv

--2023-06-05 10:57:57--  https://drive.google.com/uc?id=1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y
Resolving drive.google.com (drive.google.com)... 142.250.31.101, 142.250.31.102, 142.250.31.100, ...
Connecting to drive.google.com (drive.google.com)|142.250.31.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-00-90-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/chpe2tov4jqk1oa0ul823466ngdie68i/1685962650000/01889132083399369712/*/1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y?uuid=098e491c-2404-4ffe-90af-b6318ec44313 [following]
Warning: wildcards not supported in HTTP.
--2023-06-05 10:57:58--  https://doc-00-90-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/chpe2tov4jqk1oa0ul823466ngdie68i/1685962650000/01889132083399369712/*/1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y?uuid=098e491c-2404-4ffe-90af-b6318ec44313
Resolving doc-00-90-docs.googleusercontent.com (doc-00-90-docs.googleusercontent.com)... 142.251.163.132, 2607:f8b0:4004:c1b::84
Connecting to doc-00-90-docs.googleusercontent.com (doc-00-90-docs.googleusercontent.com)|142.251.163.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1361 (1.3K) [text/csv]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.33K  --.-KB/s    in 0s

2023-06-05 10:57:58 (79.4 MB/s) - ‘data.csv’ saved [1361/1361]

In [46]:
df =pd.read_csv('data.csv')
df.head()

   Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0           1                            130                           120
1           2                            142                           135
2           3                            120                           118
3           4                            135                           127
4           5                            148                           140

In [47]:
# a. Check whether the distribution of all the classes are the same or not.
class_distribution = df[' Blood Pressure Before (mmHg)'].value_counts()
print("Class Distribution:\n", class_distribution)

Class Distribution:
 128    12
127    11
136    11
135     8
130     7
145     6
139     6
143     6
124     6
140     6
132     6
142     6
131     5
137     1
122     1
148     1
120     1
Name:  Blood Pressure Before (mmHg), dtype: int64

In [48]:
# Check for the equality of variance
variance_before = df[' Blood Pressure Before (mmHg)'].var()
variance_after = df[' Blood Pressure After (mmHg)'].var()
print("Variance - Before: ", variance_before)
print("Variance - After: ", variance_after)

Variance - Before:  43.53727272727272
Variance - After:  47.44484848484848

In [ ]:
# c. Which amount LDA and QDA would perform better on this data for classification and why
# LDA assumes equal class covariance matrices and uses linear decision boundaries
# QDA relaxes the assumption of equal class covariance matrices and uses quadratic decision boundaries

In [49]:
# d. Check the equality of mean between all the classes
mean_before = df[' Blood Pressure Before (mmHg)'].mean()
mean_after = df[' Blood Pressure After (mmHg)'].mean()
print("Mean - Before: ", mean_before)
print("Mean - After: ", mean_after)

Mean - Before:  133.91
Mean - After:  128.36